@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "sohne-light";
  src: url("/fonts/sohne/sohne300.otf");
  font-style: normal;
}

@font-face {
  font-family: "sohne-regular";
  src: url("/fonts/sohne/sohne400.otf");
  font-style: normal;
}

@font-face {
  font-family: "sohne-medium";
  src: url("/fonts/sohne/sohne500.otf");
  font-style: normal;
}

@font-face {
  font-family: "sohne-bold";
  src: url("/fonts/sohne/sohne600.otf");
  font-style: normal;
}

body {
  font-family: "sohne-light", sans-serif;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 3px;
}
